@charset "utf-8";
		
	/*Login line css*/
	
		.Lo01{
			border:0px solid; 
			align:center; 
			width:310px; 
			height:470px; 
			margin:0 auto; 
			margin-top:70px;
		}
		.Lo02{
			border:1px solid #BDBDBD; 
			width:270px; height:40px; 
			margin:10px 0px 0px 10px; 
			padding:0px 10px 0px 10px;
		}	
		.Lo03{
			border:2px solid #2E9AFE; 
			width:290px; 
			height:43px; 
			margin:10px 0px 0px 10px; 
			background-color:#ffffff;
			outline:0;
		}
		.Lo03:hover{
			background-color: #2e9cdf;
			cursor: pointer;}
		
		.Lo04{
			border:2px solid #2E9AFE; 
			width:138px; 
			height:40px; 
			margin:10px 0px 0px 10px; 
			background-color:#ffffff;
			outline:0;
		}
		.Lo04:hover{
			background-color: #2e9cdf;
			cursor: pointer;}