@charset "utf-8";

	/*Write Line css*/
	
		.Table01{
			width:780px; 
			height:90px; 
			border:0px solid; 
			margin:10px 0px 0px 0px; 
			padding:10px 0px 10px 20px; 
			float:right; 
			background-color:#F8FEFF;
		}
		
		.text01{
			width:600px; 
			height:22px; 
			border-top:0px; 
			border-left:0px; 
			border-right:0px; 
			outline:0; 
			border-bottom:2px solid #2e9cdf;
		}
		
		.Wi01{
			border:0px solid; 
			min-height:1000px; 
			margin:100px 0px 70px 220px; 
			height: auto; 
			background-color:#F8FEFF;
		}
		
		.textarea{
			width:740px; 
			min-height:880px; 
			padding:10px 10px 10px 10px; 
			resize:none; 
			height: auto; 
			margin:0px 0px 0px 10px; 
			border-top:2px solid #2e9cdf; 
			border-left:0px; 
			border-right:0px; 
			outline:0; 
			border-bottom:2px solid #2e9cdf;
		}
		
		.WiBu01{ 
			background-color:#2e9cdf; 
			border:0px solid #2e9cdf; 
			height:27px;
			outline:0; 
			font-size: 0.9em;
			color: #ffffff;
			font-weight: bold;
			margin:10px 0px 10px 610px;
		}
		.WiBu01:hover{
			color: #000000;
			cursor: pointer;}
		
		.WiBu02{	
			background-color:#2e9cdf; 
			border:0px solid #2e9cdf; 
			height:27px;
			outline:0; 
			font-size: 0.9em;
			color: #ffffff;
			font-weight: bold;
			margin:10px 7px 10px 0px ;
		}
		.WiBu02:hover{
			color: #000000;
			cursor: pointer;}
		
		.File01{
			width:370px; 
			height:22px; 
			border: 1px solid #2e9cdf;
			color:#000000;
			margin: 0px 0px 0px 10px;		
		}	
		
		/*
		.Filebox label { 
			display: inline-block;
			padding: 2px 2px 2px 2px;	
			color: #ffffff; 
			font-weight: bold;
			vertical-align: middle; 
			background-color: #2e9cdf; 
			cursor: pointer; 
			margin: 0px 0px 0px 10px;
			border: 0px solid; 
			border-radius: .25em; } 
			
		
		.Filebox input[type="file"] { /* 파일 필드 숨기기  
			position: absolute; 
			width: 0px; 
			height: 22px; 
			padding: 0; 
			margin: -1px; 
			color:#000000;
			margin:0px 0px 0px -30px;
			border: 0; }
		*/	
			
			




		
			
			
			